#banner {
    height: 5rem;
    background-color: blue;
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 100;
}

p {
    color: green;
}

#main {
    padding-top: 5rem;
    width: 60rem;
    height: 1000rem;
    display: table;
    margin: 0 auto;
}

.image-holder {
    width: inherit;
    position: relative;
    top: 0;
    left: 0;
}

img {
    position: relative;
    width: inherit;
    top: 0;
    left: 0;
    user-select: none;
}

.img-overlay {
    position: absolute;
    width: inherit;
    top: 0;
    left: 0;
}

article {
    width: inherit;
    height: 60rem;
    border: .5rem solid black;
    box-sizing: initial;
    margin-bottom: 5rem;
}

.flyer-h {
    left: 0;
    color: white;
    position: absolute;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
    user-select: none;
    cursor: default;
    // background-color:rgba(0,0,0,0.5);
}

.event-name {
    font-size: 3rem;
    top: 3rem;
    .flyer-h;
}

.event-summary {
    font-size: 1.5rem;
    bottom: 15rem;
    .flyer-h;
}

.location {
    font-size: 2rem;
    bottom: 3rem;
    .flyer-h;
}

.time-d {
    font-size: 2rem;
    bottom: 8rem;
    .flyer-h;
}

.time-hm {
    font-size: 2rem;
    bottom: 6rem;
    .flyer-h;
}